<%= form_for @book do |f| %>
  <div class="form-group">
    <label>Book Title</label>
    <%= f.text_field :title, class: 'form-control', readonly: true %>
  </div>

  <div class="form-group">
    <label>Book Tags</label>
    <%= f.select :tags, options_for_select(@tags.collect { |tag| [tag.name, tag.id] }, @book.tags), {prompt: "select", class: 'form-control'}, {multiple: true} %>
  </div>

  <%= f.submit 'Submit', class: 'btn btn-primary' %>

<% end %>
