<div class="container">
  <h2>Book detail page</h2>
  <div class="row">
    <div class="col-md-3">Title</div>
    <div class="col-md-3"><%= @book.title %></div>
  </div>
  <div class="row">
    <div class="col-md-3">Description</div>
    <div class="col-md-3"><%= @book.description %></div>
  </div>
  <div class="row">
    <div class="col-md-3">Tags</div>
    <% @book.tags.each do |tag_id| %>
      <div class="col-md-1"><%= @book.tag(tag_id) %></div>
    <% end %>
  </div>
  <%= link_to 'Go to books', books_path, class: 'btn btn-primary' %>
</div>